<!DOCTYPE html>
<html html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/admin-post-list.css">
    <title>admin-post-list</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="/css/header.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/admin/post-list.js"></script>
    <script src="/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
</head>
<body>
<!-- 메뉴 부분 -->
<header th:replace="~{layout/header::header}"></header>
<!-- 메뉴 부분 끝 -->

<div class="container">
    <h2>게시글 리스트</h2>
    
    <form class="search-container" id="search-form">
        <input type="text" class="search-input" placeholder="search">
        <button type="submit" class="search-button">search</button>
    </form>

    <table class="table">
        <tr class="header">
            <th class="num">번호</th>
            <th>제목</th>
            <th>조회수</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>삭제일</th>
            <th>삭제하기</th>
        </tr>
        <tbody id="post-list" class="post-list"></tbody>
    </table>

    <div class="pagination">
        <button id="prev-page" class="pagination-button"> <<</button>
        <span id="page-info"></span>
        <button id="next-page" class="pagination-button"> >></button>
    </div>

</div>
</body>
</html>