<!DOCTYPE html>
<html html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/user-list.css">
    <title>User List</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="/css/header.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/admin/user-list.js"></script>

</head>
<body>
<!-- 메뉴 부분 -->
<header th:replace="~{layout/header::header}"></header>
<!-- 메뉴 부분 끝 -->

<div class="container">
    <h2>전체 유저 리스트</h2>
    <!--</div>-->
    <div class="search-container">
        <input type="text" class="search-input" placeholder="search">
        <button class="search-button">search</button>
    </div>

    <table class="table">
        <tr class="header">
            <th class="num">번호</th>
            <th class="user-email">유저 이메일</th>
            <th>닉네임</th>
            <th>레벨</th>
            <th>테스트 응시 자격</th>
            <th>상태</th>
            <th>가입일</th>
            <th>마지막 로그인</th>
            <th>삭제 일시</th>
        </tr>
        <!--</table>-->
        <tbody id="user-list" class="post-list"></tbody>
    </table>

    <div class="pagination">
        <button id="prev-page" class="pagination-button"> <<</button>
        <span id="page-info"></span>
        <button id="next-page" class="pagination-button"> >></button>
    </div>

</div>
</body>
</html>