<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>문법 예문</title>
    <!-- 폰트를 위한 url -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/grammar-examples.css">
    <!-- alert창 디자인을 위한 url -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="/js/grammar-examples/index.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
<div id="layout">
    <!-- 메뉴 부분 -->
    <header th:replace="~{layout/header::header}"></header>
    <!-- 메뉴 부분 끝 -->
    <div class="container">
        <div class="my-list">
            <div>
                <a href="/vocabulary-list" class="my-page-list-a">내 단어장</a>
                <a href="/grammar-examples" class="my-page-list-a">문법 예문</a>
            </div>
            <div class="search-container">
                <button id="addGrammarExampleButton" th:data-has-grade="${hasGrade}">예문 추가하기</button>
            </div>
        </div>
        <hr>
        <div id="GrammarContainer"></div>
        <div id="paginationContainer"></div>
    </div>
</div>
</body>
</html>