<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<header th:fragment="header">
    <link rel="stylesheet" href="/css/header.css">
    <div class="nav-container">
        <h2><a href="/"><img src="/images/ailearn-logo.png" alt="AILEARN"></a></h2>
        <ul>
            <li id="login-button" style="display: none;"><a href="/login">LOG IN</a></li>
            <li id="signup-button" style="display: none;"><a href="/signup">SIGN UP</a></li>
            <li id="logout-button" style="display: none;"><a href="/logout">LOG OUT</a></li>
            <li>
                <a href="#" class="mainMenu"><span>MENU</span> <img class="menu-img" src="/images/menu-v.png" alt=""> </a>
                <nav>
                    <a href="/my">마이페이지</a>
                    <a href="/posts">커뮤니티</a>
                    <a href="/vocabulary-list">단어장</a>
                    <a href="/grammar-examples?keyword=">문법예문</a>
                    <a href="/essays">에세이</a>
                    <a></a>
                </nav>
            </li>
        </ul>
    </div>
</header>
</html>