<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에세이 상세보기</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/essays_detail.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
<div id="layout">
    <!-- 메뉴 부분 -->
    <header th:replace="~{layout/header::header}"></header>
    <!-- 메뉴 부분 끝 -->
    <h1>내 에세이 목록</h1>
    <!-- 에세이 상세 부분-->
    <div class="essay">
        <div class="input-container">
            <h2 id="essay-topic">에세이 제목</h2>
            <p id="essay-date">작성일</p>
        </div>
            <p id="essay-content">에세이 내용</p>
        <div class="buttons">
            <button id="edit">수정하기</button>
            <button id="review">에세이 첨삭받기</button>
        </div>
    </div>
</div>

<script src="/js/essays/detail.js"></script>
</body>
</html>