<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에세이 - 에세이 수정</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/essays_edit.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
<div id="layout">
    <!-- 메뉴 부분 -->
    <header th:replace="~{/layout/header::header}"></header>
    <!-- 메뉴 부분 끝 -->
    <h1>에세이 수정</h1>
    <br>
    <a id="back-to-list"><span>&#60;</span> 뒤로가기</a>
    <!-- 에세이 수정 폼-->
    <form id="essay-edit-form">
        <div class="input-container">
            <input id="topic" type="text" aria-label="토픽" name="topic" required placeholder="토픽을 입력해주세요.">
        </div>
        <textarea id="content" name="content" required placeholder="내용을 입력해주세요."></textarea>

        <div class="buttons">
<!--            <button id="essay-delete" class="delete-button">삭제하기</button>-->
            <button id="essay-edit" type="submit" class="edit-button">수정하기</button>
        </div>
    </form>
</div>

<script src="/js/essays/edit.js"></script>
</body>
</html>