<!DOCTYPE html>
<html html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/essays_list.css">
    <title>에세이 리스트</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="/css/header.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
<div id="layout">
    <!-- 메뉴 부분 -->
    <header>
        <h2><a href="#"><img src="/images/ailearn-logo.png" alt="AILEARN" style="width: 80%;"></a></h2>
        <ul>
            <li><a href="/login">LOG OUT</a></li>
            <li>
                <a href="#" class="mainMenu">MENU v</a>
                <nav>
                    <a href="/my">마이페이지</a>
                    <a href="/posts">커뮤니티</a>
                    <a href="/vocabulary-list">단어장</a>
                    <a href="/grammar-examples?keyword=">문법예문</a>
                    <a href="/essays">에세이</a>
                </nav>
            </li>
        </ul>
    </header>
    <h1>내 에세이 목록</h1>
    <div class="search-container">
        <input type="text" id="search-input" class="search-input" placeholder="search">
        <button id="search-button" class="search-button">search</button>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>토픽</th>
                <th>내용</th>
                <th>작성일</th>
            </tr>
        </thead>
        <tbody id="essay-list">

        </tbody>
    </table>

    <div class="pagination">
        <button id="prev-page" class="pagination-button"> << </button>
        <span id="page-info"></span>
        <button id="next-page" class="pagination-button"> >> </button>
    </div>

    <div class="buttons">
        <a href="/essays/new"><button class="edit-button">에세이 작성하기</button></a>
    </div>

</div>

<script src="/js/essays/index.js"></script>
</body>
</html>