<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>에세이-새 글 작성</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/posts_new.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
<div id="layout">
    <!-- 메뉴 부분 -->
    <header th:replace="~{layout/header::header}"></header>
    <!-- 메뉴 부분 끝 -->
    <h1>에세이 작성</h1>
    <a class="essay-guide" href="/essays/guide">에세이 작성 가이드 →</a>
    <!-- 에세이 작성 폼-->
    <form id="essay-form">
        <label for="topic">토픽</label>
        <input type="text" id="topic" name="topic" required placeholder="토픽을 입력해주세요.">

        <label for="content">내용</label>
        <textarea id="content" name="content" required placeholder="내용을 입력해주세요."></textarea>

        <div class="buttons">
            <a href="/essays" id="back-to-list"><span>&#60;</span> 에세이 목록</a>
            <button type="submit">등록</button>
        </div>
    </form>
</div>

<script src="/js/essays/new.js"></script>
</body>
</html>