<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>자유게시판-게시글 상세보기</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/posts_detail.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
<div id="layout">
    <!-- 메뉴 부분 -->
    <header th:replace="~{/layout/header::header}"></header>
    <!-- 메뉴 부분 끝 -->

    <h1>커뮤니티</h1>
    <!-- 게시글 상세 부분-->
    <div class="post">
        <div class="input-container">
            <div class="title-container">
                <div>
                    <h2 id="post-title">게시글 제목</h2>
                    <span id="post-createdAt">작성일</span>
                    <span id="post-viewCount">조회수</span>
                </div>
                <div class="buttons">
                    <div class="button-container" style="display: none;">
                        <a id="delete-post"><img src="/images/delete.png" alt="삭제버튼"></a>
                        <a id="edit"><img src="/images/edit.png" alt="수정버튼"></a>
                    </div>
                    <div class="button-like-unchecked" id="button-like-unchecked" style="display: none;">
                        <a id="like-unchecked"><img src="/images/thumbup.png" alt="좋아요 누르기"></a>
                    </div>
                    <div class="button-like-checked" id="button-like-checked" style="display: none;">
                        <a id="like-checked"><img src="/images/thumbup-check.png" alt="좋아요 취소하기"></a>
                    </div>
                </div>
            </div>
            <p id="post-content"></p>
        </div>
    </div>
    <!-- 댓글부분 -->
    <div class="comment-section">
        <!-- 댓글 입력 폼 -->
        <div class="comment-form">
            <h3>댓글 작성</h3>
            <form id="input-comment">
                <input id="input-comment-value" type="text" placeholder="댓글을 입력하세요.">
                <button type="submit" >등록</button>
            </form>

            <div id="comment-list">

            </div>
        </div>
    </div>
</div>

<script src="/js/posts/detail.js"></script>
</body>
</html>