<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 찾기</title>
    <link rel="stylesheet" href="/css/find-password.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/main.js" ></script>

</head>
<body>
<!-- 메뉴 부분 -->
<header th:replace="~{/layout/header::header}"></header>
<!-- 메뉴 부분 끝 -->

<div class="password-div">
    <h1>비밀번호 찾기</h1>
    <div class="strong">
        <strong>비밀번호를 찾을 아이디를 입력해주세요</strong>
    </div>
    <form>
        <input type="text" id="user-id" name="user-id" required>
        <button type="submit">비밀번호 찾기</button>
    </form>

    <hr/>
    <a class="login-a" href="">로그인하기</a>
</div>

<script>
    $(document).ready(function() {
        $("a.mainMenu").mouseenter(function () {
            $("header nav").stop().slideDown();
        });
        $("header nav a").mouseenter(function () {
            $("a.mainMenu").removeClass('act');
            $(this).parent().prev().addClass('act');
        });
        $("header ul").mouseleave(function () {
            $("a.mainMenu").removeClass('act');
            $("header nav").stop().slideUp();
        });

        //휠(스크롤) 위치에 따라 왼쪽메뉴 활성화.
        $(document).scroll(function(){
            //브라우저높이
            const h2 = $(window).height();

            const t1 = $(document).scrollTop();

            const ht = Math.floor(t1/h1);

            //모든클래스 삭제
            $("a").removeClass();
            //해당 메뉴만 클래스 추가
            $("li").eq(ht).children().addClass("menuOver "+"m"+(ht+1));
        });
    });
</script>

</body>
</html>