<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>비밀번호 찾기</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet">
  <link rel="stylesheet" href="/css/find-password.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/main.js"></script>
</head>
<body>
<div id="layout">
  <header th:replace="~{layout/header::header}"></header>
</div>
<main>
  <div class="container">
    <h1><img src="/images/signup-login-logo.png" alt="AILEARN 로고"></h1>
    <div class="password-reset-form">
      <form id="passwordResetForm">
        <div class="form-group">
          <label for="email">비밀번호를 찾고자 하는 이메일을 입력해주세요.</label>
          <input type="email" class="form-control" id="email" name="email" required
                 placeholder="example@email.com">
          <span id="emailResult" class="validation-message"></span>
        </div>

        <button type="submit" id="reset-password-button">임시 비밀번호 발급</button>
      </form>
    </div>
    <hr/>
    <div class="hr">
      <a href="/login" class="hr-a">로그인하기</a>
      <a href="/signup" class="hr-a">회원가입</a>
    </div>
  </div>
  <script src="/js/user/find-password.js"></script>
</main>
</body>
</html>