<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="/css/login.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap"
      rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/my.js"></script>
</head>
<body>
<div id="layout">
  <header th:replace="~{layout/header::header}"></header>
</div>

<main>
  <div class="container">
    <h1><img src="/images/signup-login-logo.png" alt="AILEARN 로고"></h1>
    <div id="message-container" class="validation-message"></div>
    <form id="loginForm" th:action="@{/login}" method="post" class="login-form">
      <label for="username"></label>
      <div class="container-div">
        <input type="text" id="username" name="username" placeholder="이메일을 입력하세요" required>
      </div>

      <label for="password"></label>
      <div class="container-div">
        <input type="password" id="password" name="password" placeholder="비밀번호를 입력하세요" required>
      </div>

      <div class="container-div">
        <button type="submit" value="Log in">로그인</button>
      </div>
    </form>

    <hr/>
    <div class="hr">
      <a href="/signup" class="hr-a">회원가입하기</a>
      <a href="/forgot-password" class="hr-a">비밀번호 찾기</a>
    </div>
  </div>
  <script src="/js/user/login.js"></script>
</main>
</body>
</html>