<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원가입</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap"
        rel="stylesheet">
  <link rel="stylesheet" href="/css/signup.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="/js/my.js"></script>
</head>
<body>
<div id="layout">
  <header th:replace="~{/layout/header::header}"></header>
</div>

<main>
  <div class="container">
    <h1><img src="/images/signup-login-logo.png" alt="AILEARN 로고"></h1>
    <div class="signup-form">
      <form id="signupForm" th:action="@{/signup}" th:object="${createUserRequestDto}"
            method="post">
        <div class="form-group">
          <label for="email">이메일</label>
          <div class="input-button-wrapper">
            <input type="email" class="form-control" id="email" name="email" th:field="*{email}"
                   required placeholder="example@email.com">
            <button type="button" id="request-verification" class="btn btn-primary">메일 인증</button>
          </div>
          <span id="emailResult" class="validation-message"></span>
        </div>

        <div id="toggle-content" class="form-group-verification" style="display:none;">
          <label for="authenticationCode">인증 코드 입력</label>
          <div class="input-button-wrapper">
            <input type="text" class="form-control" id="authenticationCode"
                   name="authenticationCode" required placeholder="인증 코드 6자리">
            <button type="button" id="verify-email" class="btn btn-primary">인증 코드 확인</button>
          </div>
          <span id="emailVerification" class="validation-message"></span>
        </div>

        <div class="form-group">
          <label for="nickname">닉네임</label>
          <input type="text" class="form-control" id="nickname" name="nickname"
                 th:field="*{nickname}" required placeholder="2-12자 사이">
          <span id="nicknameResult" class="validation-message"></span>
        </div>

        <div class="form-group">
          <label for="password">비밀번호</label>
          <input type="password" class="form-control" id="password" name="password"
                 th:field="*{password}" required placeholder="8-16자 사이">
          <span id="passwordResult" class="validation-message"></span>
        </div>

        <div class="form-group">
          <label for="confirmPassword">비밀번호 확인</label>
          <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                 required placeholder="비밀번호 재입력">
          <span id="confirmPasswordResult" class="validation-message"></span>
        </div>

        <button type="submit" id="signup-button-main">회원가입</button>
      </form>
    </div>
    <hr/>
    <div class="hr">
      <a href="/login" class="hr-a">로그인하기</a>
      <a href="/forgot-password" class="hr-a">비밀번호 찾기</a>
    </div>
  </div>
  <script src="/js/user/sign-up.js"></script>
</main>
</body>
</html>