<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>내 게시글 목록</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="/css/user-info-edit.css">
    <!--    <link rel="stylesheet" href="/css/header.css">-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/my.js"></script>

</head>
<body>
<!-- 메뉴 부분 -->
<header th:replace="~{/layout/header::header}"></header>
<!-- 메뉴 부분 끝 -->
<main>
    <div class="container">
        <h1>마이페이지</h1>

        <div class="my-page-list">
            <a href="" class="my-page-list-a">회원정보</a>
            <a href="/my/posts" class="my-page-list-a">내 게시글 목록</a>
            <a href="/my/edit" class="my-page-list-a-user">회원정보 변경</a>
        </div>

        <form>
            <label>닉네임</label>
            <div class="nickname">
                <input type="text" required>
                <button type="submit">중복확인</button>
            </div>

            <label>비밀번호</label>
            <input type="text" required>

            <label>비밀번호 확인</label>
            <input type="password" required>

            <button type="submit">회원정보 수정</button>
        </form>

        <hr/>
        <div class="hr">
            <a href="" class="hr-a">로그아웃하기 </a>
            <a href="" class="hr-a">탈퇴하기</a>
        </div>
    </div>
</main>
<script>
    $(document).ready(function () {
        $("a.mainMenu").mouseenter(function () {
            $("header nav").stop().slideDown();
        });
        $("header nav a").mouseenter(function () {
            $("a.mainMenu").removeClass('act');
            $(this).parent().prev().addClass('act');
        });
        $("header ul").mouseleave(function () {
            $("a.mainMenu").removeClass('act');
            $("header nav").stop().slideUp();
        });

        //휠(스크롤) 위치에 따라 왼쪽메뉴 활성화.
        $(document).scroll(function () {
            //브라우저높이
            const h2 = $(window).height();

            const t1 = $(document).scrollTop();

            const ht = Math.floor(t1 / h1);

            //모든클래스 삭제
            $("a").removeClass();
            //해당 메뉴만 클래스 추가
            $("li").eq(ht).children().addClass("menuOver " + "m" + (ht + 1));
        });
    });
</script>
</body>
</html>