* {
    margin: auto 0;
    padding: 0;
}


#layout {
    width: 100%;
    height: 100%;
}

body {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
}


a {
    text-decoration: none;
    color: black;
}


header {
    display: flex;
    padding-right: 30px;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    filter:drop-shadow(0 1px 3px #A8A8A8);
    z-index: 1000;
}

header h2 {
    flex: 1;
    padding: 0 60px;
}

header h2 a {
    width: 200px;
    height: 40px;
    display: block;
}
/* 로고 */
header img {
    margin-top: 5px;
    /*margin-left: 0;*/
}

/* 로그인 */
header li:first-child a {
    font-weight: 600;
    color: #777;
}
header li:nth-child(2) a {
    font-weight: 600;
    color: #777;
}
/* 메뉴 화살표 */
header li span {
    margin-bottom: 5px;
}

/*메뉴*/
header ul {
    flex: 0.3;
    list-style: none;
    display: flex;
    padding-top: 2px;
    width: 200px;
}
header li { flex: 2; position: relative;}
header li a:hover {
    color: black;
}
header span { margin-top: 7px; display: inline-block; }

/*메인메뉴*/
a.mainMenu {
    color: #777;
    font-size: 1rem;
    font-weight: 600;
    display: block;
    padding: 6px;
    text-align: center;
}
a.mainMenu:hover, a.mainMenu.act { color: #464646; }

/*서브메뉴*/
header nav {
    background: #f9f9f9;
    top: 35px;
    position: absolute;
    width: 100%;
    display: none;
    z-index: 10;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header nav a {
    display: block;
    padding: 4px;
    text-align: center;
}

header nav a:hover {
    background: #e1e1e1;
    font-weight: bold;
    color: #000000;
}

body {
    width: 100%;
    height: 100%;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    margin: 80px 80px 0 80px;
    display: inline-block;
    text-align: center;
}

/* 게시글 폼 */
form {
    margin: 70px;
    display: flex;
    flex-direction: column;
}

/* 라벨 */
label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 18pt;
    font-weight: 600;
}
label>a {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
}

/* 제목과 내용 공통 */
input[type="text"], textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}
label[for="content"], label[for="title"] {
    margin-top: 30px;
}

label[for="content"] {
    font-weight: 400;
}

/* 제목 */
.input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* 컨테이너의 전체 너비를 사용 */

}

input[name="title"] {
    border: none;
    border-bottom: 2px solid #ccc;
    height: 30px;
    flex-grow: 1; /* 입력 필드가 가능한 많은 공간을 차지하도록 함 */
    margin-right: 10px; /* 입력 필드와 버튼 사이의 간격 */
}

/* 삭제 + 수정 버튼 */
.button-container {
    display: flex;
    align-items: center;
}

.button-container a {
    margin-left: 20px; /* 버튼 사이의 간격 */
}

.button-container img {
    width: 25px; /* 이미지 크기 조정 */
    height: 25px; /* 이미지 크기 조정 */
    vertical-align: middle;
    margin-top: 20px;
    opacity: 50%;
}

.button-container img:hover {
    opacity: 100%;
}

.container {
    max-width: 80%;
    margin: auto;
}

/* 내용 */
textarea {
    margin: 20px 0;
    height: 300px;
    border: none;
    color: black;
    border-bottom: 2px solid #ccc;
}


/* 댓글 부분 */
.comment-section {
    margin: 70px;
}

.comment-form form {
    display: flex;
    flex-flow: row;
    width: inherit;
    margin: 20px 0;
}

.comment-form button {
    writing-mode: horizontal-tb;  /* 텍스트를 가로로 표시 */
    text-orientation: mixed;  /* 텍스트 방향을 기본값으로 설정 */
    white-space: nowrap;  /* 텍스트가 한 줄로 표시되도록 설정 */
    padding : 6px 30px;
    background-color: #1d62f8;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    margin-left: 20px;
}
.comment-form button:hover {
    background-color: #173db9;
}


/* 새 댓글 */
.comment {
    margin-bottom: 20px;
    border: 1px solid #d4e9f7;
    background: rgba(212,233,247,0.3);
    padding: 15px;
    border-radius: 5px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.comment-author {
    margin: 0;
    font-weight: bold;
}

.delete-comment {
    display: flex;
    align-items: center;
}

.delete-comment img {
    width: 16px;  /* 이미지 크기 조정 */
    height: 16px;
    vertical-align: middle;
}

.comment-content {
    margin-bottom: 10px;
}

.comment-date {
    display: block;
    color: #777;
    font-size: 0.8em;
}