* {
    margin: auto 0;
    padding: 0;
}

#layout {
    width: 100%;
    height: 100%;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    margin: 80px;
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;
}

/* 에세이 블럭 */
main {
    display: flex;
    gap: 60px;
    margin: auto 400px;
}

main h2 {
    text-align: center;
    margin: 20px 0;
}

.container {
    margin: 20px 0;
    width: 370px;
    min-height: 300px;
    border-radius: 7px;
    padding: 30px;
    border: 1px solid rgba(16, 56, 137, 0.25);
    background: #2e5dbd08;
}

.arrow {
    margin: 200px 0;
}

.sec-container {
    display: flex;
    gap: 30px;
}

.loading {
    text-align: center;
    margin: 30px auto;
    cursor: progress;
}


/* 수정 버튼 */
.edit-button {
    float: right;
    padding: 6px 30px;
    background-color: #103889;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}

.edit-button:hover {
    background-color: #0a1c59;
}

form {
    display: flex;
    margin: 30px;
    flex-flow: column;
    align-content: space-around;
    flex-wrap: wrap;
}

textarea {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-size: 16px;
    width: 100%;
    min-height: 290px;
    height: auto;
    border: none;
    background: none;
    resize: none;
}

.description {
    margin-left: 80px;
    margin-bottom: 80px;
}

section {
    margin: 0;
}

.essay-title {
    display: flex;
}

.essay-title span {
    margin: 10px 0 0 5px;
}


/* 도넛 모양 로딩 아이콘 */
.loading-donut {
    width: 50px;
    height: 50px;
    border: 8px solid rgba(0, 0, 0, 0.1); /* 흐릿한 테두리 */
    border-top: 8px solid #3498db; /* 선명한 테두리 */
    border-radius: 50%; /* 원형 만들기 */
    animation: spin 1s linear infinite; /* 회전 애니메이션 */
    display: block;
    margin: 0 auto 10px; /* 가운데 정렬 */
}

/* 회전 애니메이션 */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}