* {
    margin: auto 0;
    padding: 0;
}


#layout {
    width: 100%;
}

body {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
}


header {
    display: flex;
    padding-right: 30px;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    filter:drop-shadow(0 1px 3px #A8A8A8);
    z-index: 1000;
}
header h2 {
    flex: 1;
    padding: 0 60px;
}

header h2 a {
    width: 200px;
    height: 40px;
    display: block;
}
/* 로고 */
header img {
    margin-top: 5px;
    /*margin-left: 0;*/
}

/* 로그인 */
header li:first-child a {
    font-weight: 600;
    color: #777;
}
header li:nth-child(2) a {
    font-weight: 600;
    color: #777;
}
/* 메뉴 화살표 */
header li span {
    margin-bottom: 5px;
}

/*메뉴*/
header ul {
    flex: 0.3;
    list-style: none;
    display: flex;
    padding-top: 2px;
    width: 200px;
}
header li { flex: 2; position: relative;}
header li a:hover {
    color: black;
}
header span { margin-top: 7px; display: inline-block; }

/*메인메뉴*/
a.mainMenu {
    color: #777;
    font-size: 1rem;
    font-weight: 600;
    display: block;
    padding: 6px;
    text-align: center;
}
a.mainMenu:hover, a.mainMenu.act { color: #464646; }

/*서브메뉴*/
header nav {
    background: #f9f9f9;
    top: 35px;
    position: absolute;
    width: 100%;
    display: none;
    z-index: 10;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header nav a {
    display: block;
    padding: 4px;
    text-align: center;
}

header nav a:hover {
    background: #e1e1e1;
    font-weight: bold;
    color: #000000;
}

/*main*/
main {
    min-height: calc(100vh - 60px); /* 헤더 높이를 뺀 전체 높이 */
    display: flex;
    align-items: center;
}

.container {
    max-width: 880px;
    width: 100%;
    margin: 0 auto; /* top/bottom margin을 0으로 설정 */
    background: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-bottom: 20px;
    text-align: center;
}

.password-reset-form {
    width: 100%;
    max-width: 400px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #F9F9F9;
    border: 1px solid #A8A8A8;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #2e5dbd;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background-color: #103889;
}

.validation-message {
    font-size: 0.8em;
    height: 1em;
    line-height: 1em;
}

.success-message {
    color: #007bff;
}

.error-message {
    color: #dc3545;
}

hr {
    margin-top: 20px;
    margin-bottom: 5px;
    width: 100%;
    max-width: 400px;
    border: 0;
    border-top: 1px solid #b9b9b9;
}

.hr {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.hr-a {
    color: #103889;
}

.instruction {
    margin-bottom: 20px;
    font-size: 1rem;
    color: #555;
    text-align: center;
}

.password-reset-form {
    margin-top: 20px;
}