* {
    margin: 0;
    padding: 0;
}

#layout {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #777;
}

a:hover {
    color: #000;
}

/* 로그인, 로그아웃, 회원가입 버튼  */
#login-button, #logout-button, #signup-button {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: bold;
    color: #777;
}

#login-button:hover {
    color: #000;
}

#logout-button:hover {
    color: #000;
}

#signup-button:hover {
    color: #000;
}

header h2 {
    margin-left: 90px;
}

header {
    display: flex;
    background: white;
    position: fixed;
    font-family: "IBM Plex Sans KR", sans-serif;
    top: 0;
    left: 0;
    width: 100vw;
    filter: drop-shadow(0 1px 3px #b2b6cb);
    z-index: 1000;
}

/* 로고 */
header img {
    display: block;
}

header li {
    padding: 8px;
}

header li a {
    font-weight: bold;
    color: #777;
}

/*메뉴*/
header ul {
    list-style: none;
    display: flex;
}

/*메인메뉴*/
a.mainMenu {
    width: 160px;
    color: #777;
    font-size: 1rem;
    font-weight: bold;
    display: block;
    text-align: center;
    font-family: "IBM Plex Sans KR", sans-serif;
}

a.mainMenu:hover, a.mainMenu.act {
    color: #000;
    font-weight: bold;
}

/*서브메뉴*/
header nav {
    background: #f9f9f9;
    top: 40px;
    position: absolute;
    width: 160px;
    display: none;
    z-index: 10;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header nav a {
    display: block;
    padding: 4px;
    text-align: center;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header nav a:hover {
    background: #e1e1e1;
    font-weight: bold;
    color: #000000;
}

.nav-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}