* {
    margin: auto 0;
    padding: 0;
}


#layout {
    width: 100%;
    height: 100%;
}


a {
    text-decoration: none;
    color: black;
}


header {
    display: flex;
    padding-right: 30px;
    background: white;
    position: fixed;
    width: 100%;
    filter:drop-shadow(0 1px 3px dodgerblue);
}
header h2 {
    flex: 1;
}
header h2 a {
    width: 200px;
    height: 40px;
    display: block;
}
/* 로고 */
header img {
    margin-top: 5px;
    margin-left: 300px;
}

/* 로그인 */
header li:first-child a {
    font-weight: 600;
    color: #777;
}
header li:nth-child(2) a {
    font-weight: 600;
    color: #777;
}
/* 메뉴 화살표 */
header li span {
    margin-bottom: 5px;
}

/*메뉴*/
header ul {
    flex: 0.3;
    list-style: none;
    display: flex;
    padding-top: 2px;
    width: 200px;
}
header li { flex: 2; position: relative;}
header span { margin-top: 7px; display: inline-block; }

/*메인메뉴*/
a.mainMenu {
    color: #777;
    font-size: 1rem;
    font-weight: 600;
    display: block;
    padding: 6px;
    text-align: center;
}
a.mainMenu:hover, a.mainMenu.act { color: #464646; }

/*서브메뉴*/
header nav {
    background: #f9f9f9;
    top: 35px;
    position: absolute;
    width: 100%;
    display: none;
    z-index: 10;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header nav a {

    display: block;
    padding: 4px;
    text-align: center;
}

header nav a:hover {
    background: #e1e1e1;
    font-weight: bold;
    color: #000000;
}

/*홈(sec1),(sec2),(sec3)*/
#sec1 > div {
    max-width: 800px;
    padding: 20px;
}
h1 {
    font-size: 36pt;
    font-weight: 600;
    color: white;
}
p {
    font-size: 1.1em;
    line-height: 1.6;
    margin-bottom: 30px;
    color: white;
}
#sec1 {
    height: 100vh;
    width: 100vw;
    background-image: url(../images/home_background.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#sec1 button {
    padding : 10px 60px;
    background : white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 30px 0;
    font-weight: 600;
}
#sec1 button:hover {
    filter: drop-shadow(0px 0px 5px white);
}

#sec2 {
    height: 100vh;
    width: 100vw;
    background-image: url(../images/home-2.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#sec3 {
    height: 100vh;
    width: 100vw;
    background-image: url(../images/home-3.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}