* {
    margin: auto 0;
    padding: 0;
}


#layout {
    width: 100%;
    height: 100%;
}

body {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
}


a {
    text-decoration: none;
    color: black;
}


header {
    display: flex;
    padding-right: 30px;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    filter:drop-shadow(0 1px 3px #A8A8A8);
    z-index: 1000;
}
header h2 {
    flex: 1;
    padding: 0 60px;
}

header h2 a {
    width: 200px;
    height: 40px;
    display: block;
}

.my-comment h2 {
    margin-bottom: 15px;
}
/* 로고 */
header img {
    margin-top: 5px;
    /*margin-left: 0;*/
}

/* 로그인 */
header li:first-child a {
    font-weight: 600;
    color: #777;
}
header li:nth-child(2) a {
    font-weight: 600;
    color: #777;
}
/* 메뉴 화살표 */
header li span {
    margin-bottom: 5px;
}

/*메뉴*/
header ul {
    flex: 0.3;
    list-style: none;
    display: flex;
    padding-top: 2px;
    width: 200px;
}
header li { flex: 2; position: relative;}
header li a:hover {
    color: black;
}
header span { margin-top: 7px; display: inline-block; }

/*메인메뉴*/
a.mainMenu {
    color: #777;
    font-size: 1rem;
    font-weight: 600;
    display: block;
    padding: 6px;
    text-align: center;
}
a.mainMenu:hover, a.mainMenu.act { color: #464646; }

/*서브메뉴*/
header nav {
    background: #f9f9f9;
    top: 35px;
    position: absolute;
    width: 100%;
    display: none;
    z-index: 10;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header nav a {

    display: block;
    padding: 4px;
    text-align: center;
}

header nav a:hover {
    background: #e1e1e1;
    font-weight: bold;
    color: #000000;
}




/* main 내용 */

.container {
    max-width: 880px;
    margin: 90px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
}

.user-info {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}

.user-info p {
    margin: 1px 0 10px 0;
}

.label {
    font-weight: bold;
    display: inline-block;
    width: 100px;
}

.my-page {
    padding: 15px;
    margin-top: 40px;
}

.user-info-middle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto 30px;
}

/*테이블*/
.table-box {
    font-size: 13px;
    height: 220px;
    border-radius: 7px;
    border: #A8A8A8 1px solid;
    padding: 15px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.table-box2 {
    font-size: 13px;
    padding: 10px 3px;
}

table {
    padding: 7px 10px 10px 15px;
    width: 380px;
    height: 220px;
    text-align: center;
    border-collapse: collapse;
}

.my-page-table {
    padding: 7px 10px 10px 15px;
    width: 100%;
    height: 220px;
    text-align: center;
    border-collapse: collapse;
}

table thead {
    border-bottom: 1px solid #a8a8a8;
    height: 40px;
}

tr {
    height: 30px;
}

tr td {
    border-bottom: 1px dotted #eaeaea;
}

tr td:first-child {
    border-right: 1px dotted #eaeaea;
}

.move {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 48px;
}

.move a {
    border-radius: 7px;
    border: #A8A8A8 1px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 12px 32px;
}

.my-comment {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    justify-content: space-between;
}

/*마이페이지 리스트*/
.my-page-list {
    display: flex;
    margin-top: 50px;
}

.my-page-list-a-post {
    color: black;
    margin: 5px 20px;
    font-size: 17px;
    width: 110px;
    text-align: center;
    font-weight: bolder;
    border-bottom: 3px solid #2b2b2b;
}

.my-page-list-a{
    display: block;
    text-align: center;
    margin: 5px 20px;
    color: #858585;
    width: 110px;
    border-bottom: 1px solid #A8A8A8;
}

tr th:first-child {
    width: 65%;
}

td span:hover {
    cursor: pointer;
}

td {
    height: 36px;
}

/* 페이지 네이게이션 */
.pagination-button {
    border: none;
    background-color: rgba(255,255,255);
    cursor: pointer;
}

.pagination-button:hover {
    font-size: 17px;
    font-weight: bold;
}

.pagination {
    display: flex;
    margin: 20px auto;
    gap: 20px;
    justify-content: center;
}

.my-comment div:first-child tr th:first-child {
    width: 35%;
}