* {
    margin: auto 0;
    padding: 0;
}


#layout {
    width: 100%;
    height: 100%;
}

body {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
}


a {
    text-decoration: none;
    color: black;
}


header {
    display: flex;
    padding-right: 30px;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    filter:drop-shadow(0 1px 3px #A8A8A8);
    z-index: 1000;
}
header h2 {
    flex: 1;
    padding: 0 60px;
}

header h2 a {
    width: 200px;
    height: 40px;
    display: block;
}
/* 로고 */
header img {
    margin-top: 5px;
    /*margin-left: 0;*/
}

/* 로그인 */
header li:first-child a {
    font-weight: 600;
    color: #777;
}
header li:nth-child(2) a {
    font-weight: 600;
    color: #777;
}
/* 메뉴 화살표 */
header li span {
    margin-bottom: 5px;
}

/*메뉴*/
header ul {
    flex: 0.3;
    list-style: none;
    display: flex;
    padding-top: 2px;
    width: 200px;
}
header li { flex: 2; position: relative;}
header li a:hover {
    color: black;
}
header span { margin-top: 7px; display: inline-block; }

/*메인메뉴*/
a.mainMenu {
    color: #777;
    font-size: 1rem;
    font-weight: 600;
    display: block;
    padding: 6px;
    text-align: center;
}
a.mainMenu:hover, a.mainMenu.act { color: #464646; }

/*서브메뉴*/
header nav {
    background: #f9f9f9;
    top: 35px;
    position: absolute;
    width: 100%;
    display: none;
    z-index: 10;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

header nav a {

    display: block;
    padding: 4px;
    text-align: center;
}

header nav a:hover {
    background: #e1e1e1;
    font-weight: bold;
    color: #000000;
}




/* main 내용 */

.container {
    max-width: 880px;
    margin: 90px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
}

.user-info {
    display: flex;
    justify-content: space-between;
    flex-flow: row;
}

.user-info p {
    margin: 1px 0 10px 0;
}

.label {
    font-weight: bold;
    display: inline-block;
    width: 100px;
}

.my-page {
    padding: 15px;
    margin-top: 40px;
    border: #dfe4ea 1px solid;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f4f5fa;
}

.user-info-middle {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto 30px;
}

/* 유저프로필 컨테이너 */
.user-profile-progress {
    display: flex;
}

.user-profile-progress img {
    border-radius: 7px;
}

/* 경험치 바 */
.progress-container {
    width: 300px; /* 전체 바의 너비 */
    height: 8px;
    background-color: #e0e0e0; /* 진행되지 않은 부분의 배경색 */
    border-radius: 10px;
    position: relative;
    margin-bottom: 3px;
}

.progress-bar {
    height: 100%;
    background-color: #acb0b6; /* 진행된 부분의 색 */
    width: 0;
    border-radius: 10px;
    transition: width 0.3s; /* 부드러운 진행 애니메이션 */
}

.point-display {
    position: absolute;
    top: -25px; /* progress-bar의 위쪽에 위치 */
    right: 0;
    font-size: 14px;
    color: #333;
    transform: translateX(-1%);
}

.point-info {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

#point-text {
    display: none;
}

.user-info-title {
    margin-bottom: 35px;
    font-size: 35px;
    font-weight: 700;
}

.user-info-title span:nth-child(2) {
    font-style: italic;
}

.user-info-title span span:first-child{
    margin-left: 12px;
    font-size: 25px;
}

/*프로필 오른쪽 부분*/
.user-info-right {
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: center;
}

/* 테스트하러 가는 버튼 */
.href-button {
    width: 170px;
    border-radius: 5px;
    background-color: #0a2357;
    color: white;
    text-align: center;
    padding: 10px 15px;
    font-weight: bold;
}

.href-button:hover {
    color: white;
    background-color: #05173c;
}


/* 유저등급 */
.user-grade {
    margin: 0 0 0 5px;
    font-weight: bolder;
    font-size: 30px;
}

.user-grade-box {
    display: flex;
    padding: 20px 15px 5px;
    border-radius: 5px;
    width: 170px;
    height: 70px;
    border: #9e9e9e solid 1px;
    align-items: flex-end;
    justify-content: space-between;
}

.user-grade-box0 {
    display: flex;
    padding: 20px 15px 5px;
    border-radius: 5px;
    width: 170px;
    height: 70px;
    border: #c19288 solid 1px;
    align-items: flex-end;
    justify-content: space-between;
}

.user-grade-box1 {
    display: flex;
    padding: 20px 15px 5px;
    border-radius: 5px;
    width: 170px;
    height: 70px;
    border: #9e9e9e solid 2px;
    align-items: flex-end;
    justify-content: space-between;
}

.user-grade-box2 {
    display: flex;
    padding: 20px 15px 5px;
    border-radius: 5px;
    width: 170px;
    height: 70px;
    border: #e3ac42 solid 2px;
    align-items: flex-end;
    justify-content: space-between;
}

.user-grade-box3 {
    display: flex;
    padding: 20px 15px 5px;
    border-radius: 5px;
    width: 170px;
    height: 70px;
    border: #a7cbc3 solid 2px;
    filter: drop-shadow(0 1px 1px #83aaa2);
    align-items: flex-end;
    justify-content: space-between;
}

.user-grade-box4 {
    position: absolute;
    display: flex;
    padding: 20px 15px 5px;
    border-radius: 5px;
    width: 170px;
    height: 70px;
    border: #bbbbe1 solid 4px;
    filter: drop-shadow(0 1px 5px #cdcdef);
    align-items: flex-end;
    justify-content: space-between;
}

.user-grade-box4-box {
    position: absolute;
    top: 1px;
    left: 2px;
    padding: 20px 15px 5px;
    border: 1px solid white;
    width: 173px;
    height: 73px;
    border-radius: 5px;
}

#user-grade-box4-1 {
    position: relative;
    width: 206px;
    height: 100px;
}

.user-grade-box5 {
    display: flex;
    padding: 20px 15px 5px;
    border-radius: 5px;
    width: 170px;
    height: 70px;
    border: #e8aec3 solid 4px;
    filter: drop-shadow(0 1px 3px #e5a7be);
    align-items: flex-end;
    justify-content: space-between;
}

.user-grade-text {
    margin: 5px 2px;
}

.user-grade-box div {
    margin: 0;
}

/*테이블*/
.table-box {
    font-size: 13px;
    border-radius: 7px;
    border: #A8A8A8 1px solid;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

table {
    padding: 7px 10px 10px 15px;
    width: 300px;
    height: 220px;
    text-align: center;
    border-collapse: collapse;
}

table thead {
    border-bottom: 1px solid #a8a8a8;
    height: 40px;
}

tr {
    height: 30px;
}

tr td {
    border-bottom: 1px dotted #eaeaea;
}

tr td:first-child {
    border-right: 1px dotted #eaeaea;
}

.move {
    display: flex;
    flex-direction: column;
    height: 240px;
    gap: 12px;
    padding-top: 50px;
}

.move a {
    border-radius: 7px;
    border: #A8A8A8 1px solid;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 12px 32px;
}

.my-study {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    justify-content: space-between;
}

.my-study div{
    margin: 0;
}

.my-study h2 {
    margin-bottom: 15px;
}

/*마이페이지 리스트*/
.my-page-list {
    display: flex;
    margin-top: 50px;
}

.my-page-list a{
    display: block;
    text-align: center;
    margin: 5px 20px;
    color: #858585;
    width: 110px;
    border-bottom: 1px solid #A8A8A8;
}

.my-page-list a:first-child{
    color: black;
    font-size: 17px;
    font-weight: bolder;
    border-bottom: 3px solid #2b2b2b;
}

.user-grade-text {
    margin: 0;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container-lv {
    position: relative;
    display: inline-block;
}

.check-img {
    margin-left: 10px;
    width: 20px;
}

.question-mark {
    opacity: 20%;
    width: 20px;
}

/* 말풍선(툴팁) 기본 스타일 */
.tooltip {
    position: absolute;
    top: -40px; /* 이미지 위쪽에 위치 */
    left: 70%;
    transform: translateX(-50%);
    background-color: rgb(10, 34, 84, 0.7);
    color: #fff;
    padding: 8px 15px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none; /* 마우스 이벤트를 받지 않음 */
    transition: opacity 0.3s ease;
    font-size: 15px;
    font-weight: 200;
    z-index: 10;
}

/* 말풍선 삼각형 */
.tooltip::after {
    content: '';
    position: absolute;
    bottom: -10px; /* 삼각형이 말풍선 아래쪽에 위치 */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: rgb(10, 34, 84, 0.7) transparent transparent transparent;
}

/* 이미지에 마우스를 올렸을 때 말풍선 보이기 */
.image-container:hover .tooltip {
    opacity: 1;
}

.question-mark:hover {
    opacity: 40%;
}

/* 말풍선(툴팁) 기본 스타일 */
.tooltip-lv {
    position: absolute;
    top: -40px; /* 이미지 위쪽에 위치 */
    left: 55%;
    transform: translateX(-50%);
    background-color: rgb(10, 34, 84, 0.7);
    color: #fff;
    padding: 8px 15px;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none; /* 마우스 이벤트를 받지 않음 */
    transition: opacity 0.3s ease;
    font-size: 15px;
    font-weight: 200;
    z-index: 10;
}

/* 말풍선 삼각형 */
.tooltip-lv::after {
    content: '';
    position: absolute;
    bottom: -10px; /* 삼각형이 말풍선 아래쪽에 위치 */
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: rgb(10, 34, 84, 0.7) transparent transparent transparent;
}

/* 이미지에 마우스를 올렸을 때 말풍선 보이기 */
.image-container-lv:hover .tooltip-lv {
    opacity: 1;
}

.swal2-x-mark {
    margin: 0;
}