* {
    margin: auto 0;
    padding: 0;
}

#layout {
    width: 100%;
    height: 100%;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    margin: 80px;
    margin-bottom: 0;
    display: inline-block;
    text-align: center;
}
/* 게시글 폼 */
form {
    margin: 70px;
    display: flex;
    flex-direction: column;
}

/* 라벨 */
label {
    margin-top: 10px;
    font-size: 16pt;
    font-weight: 600;
}
/* 제목과 내용 공통 */
input[type="text"], textarea {
    width: 100%;
    padding: 8px;
    margin-top: 10px;
    font-family: "IBM Plex Sans KR", sans-serif;
    resize: none;
}

/* 제목 */
input[type="text"] {
    border: none;
    border-bottom: 2px solid #ccc;
    margin-bottom: 30px;
}

/* 내용 */

textarea {
    height: 600px;
    border-radius: 10px;
    border: 2px solid #ccc;
}


/* 뒤로가기 */
#back-to-list {
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: 5px;
    float: right;
    margin-right: 80px;
}
#back-to-list span {
    font-size: 1.6rem;
}

/* 수정+삭제 버튼 */
.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
/* 삭제 버튼 */
.delete-button {
    padding : 6px 30px;
    background-color: #de3939;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    margin-left: 20px;
}
.delete-button:hover {
    background-color: #c61515;
}
/* 수정 버튼 */
.edit-button {
    padding : 6px 30px;
    background-color: #2e5dbd;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}
.edit-button:hover {
    background-color: #103889;
}