* {
    margin: auto 0;
    padding: 0;
}

#layout {
    width: 100%;
    height: 100%;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    margin: 80px;
    margin-bottom: 0;
    display: inline-block;
    text-align: center;
}

/* 게시글 폼 */
form {
    margin: 70px;
    display: flex;
    flex-direction: column;
}

/* 라벨 */
label {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 18pt;
    font-weight: 600;
}

label > a {
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
}

/* 제목과 내용 공통 */
input[type="text"], textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

label[for="content"], label[for="title"] {
    margin-top: 30px;
}

label[for="content"] {
    font-weight: 400;
}

/* 제목 */
.input-container {
    display: flex;
    flex-direction: column;
}

input[name="title"] {
    border: none;
    border-bottom: 2px solid #ccc;
    height: 30px;
    flex-grow: 1; /* 입력 필드가 가능한 많은 공간을 차지하도록 함 */
    margin-right: 10px; /* 입력 필드와 버튼 사이의 간격 */
}

/* 삭제 + 수정 버튼 */
.button-container {
    display: flex;
    align-items: center;
}

.button-container a {
    margin-left: 20px; /* 버튼 사이의 간격 */
}

.button-container img {
    width: 25px; /* 이미지 크기 조정 */
    height: 25px; /* 이미지 크기 조정 */
    vertical-align: middle;
    margin-top: 20px;
    opacity: 50%;
    cursor: pointer;
}

.button-container img:hover {
    opacity: 100%;
}

.button-like-checked img {
    width: 28px;
    height: 28px;
    vertical-align: middle;
    margin-top: 20px;
    opacity: 50%;
    cursor: pointer;
}

.button-like-checked img:hover {
    opacity: 100%;
}

.button-like-checked a {
    margin-left: 22px;
}

.button-like-unchecked img {
    width: 28px;
    height: 28px;
    vertical-align: middle;
    margin-top: 20px;
    opacity: 50%;
    cursor: pointer;
}

.button-like-unchecked img:hover {
    opacity: 100%;
}

.button-like-unchecked a {
    margin-left: 22px;
}

.buttons {
    display: flex;
    margin: 20px;
}

/* 내용 */
textarea {
    margin: 20px 0;
    height: 300px;
    border: none;
    color: black;
    border-bottom: 2px solid #ccc;
}

/* 뒤로가기와 등록 버튼 */
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

/* 등록 버튼 */
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}


/* 댓글 부분 */

.comment-section {
    margin: 70px;
}

.comment-form form {
    display: flex;
    flex-flow: row;
    width: inherit;
    margin: 20px 0;
}

.comment-form button {
    writing-mode: horizontal-tb; /* 텍스트를 가로로 표시 */
    text-orientation: mixed; /* 텍스트 방향을 기본값으로 설정 */
    white-space: nowrap; /* 텍스트가 한 줄로 표시되도록 설정 */
    padding: 6px 30px;
    background-color: #2e5dbd;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    margin-left: 20px;
}

.comment-form button:hover {
    background-color: #103889;
}


/* 새 댓글 */
.comment {
    margin-bottom: 20px;
    border: 1px solid #d4e9f7;
    background: rgba(212, 233, 247, 0.3);
    padding: 15px;
    border-radius: 5px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.comment-author {
    margin: 0;
    font-weight: bold;
}

.delete-comment {
    display: flex;
    align-items: center;
}

.delete-comment img {
    width: 16px; /* 이미지 크기 조정 */
    height: 16px;
    vertical-align: middle;
    opacity: 50%;
}

.delete-comment img:hover {
    opacity: 100%;
}


.comment-date {
    display: block;
    color: #777;
    font-size: 0.8em;
}

.comment-container {
    border-bottom: 1px solid #dadada;
    padding-bottom: 10px;
    margin: 7px 0;
    display: flex;
    justify-content: space-between;
}

.post {
    margin: 70px;
}

.title-container {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #A8A8A8;
}

#post-content {
    margin-top: 30px;
}

#post-viewCount {
    margin-left: 20px;
}

.comment-info {
    display: flex;
    gap: 20px;
}

.error-404 {
    margin: 70px auto;
    text-align: center;
}

