* {
    margin: auto 0;
    padding: 0;
}

#layout {
    width: 100%;
    height: 100%;
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    margin: 80px;
    margin-bottom: 0;
    display: inline-block;
    text-align: center;
}

/* 게시글 폼 */
form {
    margin: 70px auto;
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

/* 라벨 */
label {
    margin-top: 10px;
    font-size: 16pt;
    font-weight: 600;
}

/* 제목과 내용 공통 */
input[type="text"], textarea {
    padding: 8px;
    margin-top: 5px;
    font-family: "IBM Plex Sans KR", sans-serif;
    resize: none;
}

label[for="content"], label[for="title"] {
    margin-top: 30px;
    margin-bottom: 10px;
}

/* 제목 */
input[type="text"] {
    border: none;
    border-bottom: 2px solid #ccc;
}

/* 내용 */
textarea {
    height: 600px;
    border-radius: 10px;
    border: 2px solid #ccc;
}

/* 뒤로가기와 등록 버튼 */
.buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

/* 뒤로가기 */
#back-to-list {
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: 5px;
}
#back-to-list span {
    font-size: 1.6rem;
}

/* 등록버튼 */
button[type="submit"] {
    padding : 8px 40px;
    background-color: #1d62f8;
    color: white;
    font-weight: 600;
    font-size: 1.1rem;
    border: none;
    border-radius: 7px;
}
button[type="submit"]:hover {
    background-color: #173db9;
}

.essay-guide {
    cursor: pointer;
}