* {
    margin: auto 0;
    padding: 0;
}

#layout {
    width: 100%;
    height: 100%;
}

body {
    font-family: "IBM Plex Sans KR", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 880px;
    margin: 90px auto;
    background: white;
    padding: 20px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 0; /* 이전의 margin-left 제거 */
}


.signup-form {
    width: 100%;
    max-width: 400px;
}

.form-div {
    display: flex;
    justify-content: space-between;
}

.form-div input {
    width: 65%;
}

.form-div button {
    margin-top: 9px;
    width: 30%;
}

label {
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #F9F9F9;
    border: 1px solid #A8A8A8;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #103889;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 600;
}

button:hover {
    background-color: #0a1c59;
}

hr {
    margin-top: 20px;
    margin-bottom: 5px;
    width: 100%;
    max-width: 400px;
    border: 0;
    border-top: 1px solid #b9b9b9;
    margin-left: 0; /* 이전의 margin-left 제거 */
}

.hr {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 0; /* 이전의 margin-left 제거 */
}

.hr-a {
    color: #103889;
}

.form-control-password {
    margin-bottom: 10px;
}


/*인증 코드 입력 토글*/
#toggleContent {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.form-group-verification {
    display: none;
}

h1 img {
    width: 300px;
    height: auto;
}

.validation-message {
    font-size: 0.8em;
    height: 1em;
    line-height: 1em;
}

.success-message {
    color: #007bff;
}

.error-message {
    color: #dc3545;
}

.form-group {
    margin-bottom: 15px;
    width: 100%;
}

#signup-button-main {
    margin-top: 15px;
}

/* 수정 및 추가된 부분 */
.input-button-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

.input-button-wrapper input {
    flex-grow: 1;
    margin-right: 10px;
    margin-bottom: 0;
}

.input-button-wrapper button {
    flex-shrink: 0;
    width: 30%;
    white-space: nowrap;
}

.email-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.email-container input {
    flex-grow: 1;
    margin-right: 10px;
}

.email-container button {
    flex-shrink: 0;
}