<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AILEARN</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/home-page.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
<div id="layout">
    <!-- 메뉴 부분 -->
    <header th:replace="~{/layout/header::header}"></header>
    <!-- 메뉴 부분 끝 -->
</div>
<main>
    <section id="sec1"> <!-- 홈 화면1 -->
        <div>
            <h1><i><b>AILEARN</b></i> 에<br>오신 것을 환영합니다.</h1>
            <a href="/signup"><button>회원가입하고 내 실력 알아보기</button></a>
            <!-- AILEARN 설명-->
            <p>AILEARN은 AI + LEARN의 합성어로 AI(Alan)를 이용한 학습에 도움을 주는 서비스 입니다.</p>
        </div>
    </section>

    <section id="sec2"> <!-- 홈 화면2 -->
        <div>
            <h2></h2>
        </div>
    </section>

    <section id="sec3"> <!-- 홈 화면2 -->
        <div>
            <h2></h2>
        </div>
    </section>

</main>

<script>
    // 페이지 로드 시 API 호출
    window.onload = function() {
        fetch('/api/me')
            .then(response => {
                if (response.ok) {
                    return response.json();
                } else {
                    throw new Error('Network response was not ok ');
                }
            })
            .then(user => {
                // 사용자 정보를 HTML에 렌더링
                // const userInfoDiv = document.getElementById('user-info');
                // userInfoDiv.innerHTML = `<p>ID: ${user.id}</p>
                //                              <p>Username: ${user.username}</p>
                //                              <p>Email: ${user.email}</p>`;
                console.log()
                document.getElementById('logout-button').style.display = 'block';
            })
            .catch(error => {
                document.getElementById('login-button').style.display = 'block';
                document.getElementById('signup-button').style.display = 'block';
            });
    };
</script>
</body>
</html>